.content {max-width: 500px; margin:auto;}

h1 {text-align: center;}

body{
    background-image: url(recipes/backgroundFix.jpg);
   /*background-size:auto, contain;*/




}


.textt{background-color:rgb(247, 247, 247);}

